<footer class="relative bg-slate-900 dark:bg-slate-800 mt-24">
    <div class="container relative">
        <div class="grid grid-cols-1">
            <div class="relative py-16">
                <div class="relative w-full">
                    <div class="relative -top-40 bg-white dark:bg-slate-900 lg:px-8 px-6 py-10 rounded-xl shadow-lg shadow-gyay-200 dark:shadow-gray-700 overflow-hidden">
                        <div class="grid md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
                            <div class="md:text-start text-center z-1">
                                <h3 class="md:text-3xl text-2xl md:leading-normal leading-normal font-medium text-black dark:text-white">Abonnez-vous à notre newsletter !</h3>
                                <p class="text-slate-400 max-w-xl mx-auto">Recevez les dernières nouveautés et mises à jour concernant notre plateforme immobilière..</p>
                            </div>

                            <div class="subcribe-form z-1">
                                <form class="relative max-w-lg md:ms-auto">
                                    <input type="email" id="subcribe" name="email" class="rounded-full bg-white dark:bg-slate-900 shadow-sm shadow-gyay-200 dark:shadow-gray-700" placeholder="Entrez votre email :">
                                    <button type="submit" class="btn bg-green-600 hover:bg-green-700 text-white !rounded-full">S'abonner</button>
                                </form>
                            </div>
                        </div>

                        <div class="absolute -top-5 -start-5">
                            <div class="uil uil-envelope lg:text-[150px] text-7xl text-black/5 dark:text-white/5 ltr:-rotate-45 rtl:rotate-45"></div>
                        </div>

                        <div class="absolute -bottom-5 -end-5">
                            <div class="uil uil-pen lg:text-[150px] text-7xl text-black/5 dark:text-white/5 rtl:-rotate-90"></div>
                        </div>
                    </div>

                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px] -mt-24">
                        <div class="lg:col-span-4 md:col-span-12">
                            <a [routerLink]="[]" class="text-[22px] focus:outline-none">
                                <img [src]="'/assets/images/logo-light.png'" alt="">
                            </a>
                            <p class="mt-6 text-gray-300">Une plateforme intelligente de gestion immobilière permettant de rechercher, consulter et gérer des biens immobiliers de manière simple et efficace.</p>
                        </div>

                      <div class="lg:col-span-2 md:col-span-4">
                        <h5 class="tracking-[1px] text-gray-100 font-semibold">Navigation</h5>
                        <ul class="list-none footer-list mt-6">
                          <li>
                            <a [routerLink]="'/aboutus'" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              <i class="uil uil-angle-right-b me-1"></i> À propos
                            </a>
                          </li>
                          <li class="mt-[10px] ms-0">
                            <a [routerLink]="'/guide'" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              <i class="uil uil-angle-right-b me-1"></i> Guide
                            </a>
                          </li>
                          <li class="mt-[10px] ms-0">
                            <a [routerLink]="'/faq'" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              <i class="uil uil-angle-right-b me-1"></i> FAQ
                            </a>
                          </li>
                          <li class="mt-[10px] ms-0">
                            <a [routerLink]="'/auth-login'" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              <i class="uil uil-angle-right-b me-1"></i> Connexion
                            </a>
                          </li>
                        </ul>
                      </div>


                      <div class="lg:col-span-3 md:col-span-4">
                        <h5 class="tracking-[1px] text-gray-100 font-semibold">Liens utiles</h5>
                        <ul class="list-none footer-list mt-6">
                          <li>
                            <a [routerLink]="'/'" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              <i class="uil uil-angle-right-b me-1"></i> Biens immobiliers
                            </a>
                          </li>
                          <li class="mt-[10px] ms-0">
                            <a [routerLink]="'/'" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              <i class="uil uil-angle-right-b me-1"></i> Contact
                            </a>
                          </li>
                          <li class="mt-[10px] ms-0">
                            <a [routerLink]="'/'" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              <i class="uil uil-angle-right-b me-1"></i> Politique de confidentialité
                            </a>
                          </li>
                          <li class="mt-[10px] ms-0">
                            <a [routerLink]="'/'" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              <i class="uil uil-angle-right-b me-1"></i> Conditions d’utilisation
                            </a>
                          </li>
                        </ul>
                      </div>

                      <div class="lg:col-span-3 md:col-span-4">
                        <h5 class="tracking-[1px] text-gray-100 font-semibold">Coordonnées</h5>

                        <div class="flex mt-6">
                          <i data-feather="map-pin" class="size-5 text-green-600 me-3"></i>
                          <div>
                            <h6 class="text-gray-300 mb-2">
                              Tunisie <br>
                              Sousse / Tunis <br>
                              Plateforme immobilière
                            </h6>
                          </div>
                        </div>

                        <div class="flex mt-6">
                          <i data-feather="mail" class="size-5 text-green-600 me-3"></i>
                          <div>
                            <a href="mailto:contact@immobilier.com" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              contactimmobilier.com
                            </a>
                          </div>
                        </div>

                        <div class="flex mt-6">
                          <i data-feather="phone" class="size-5 text-green-600 me-3"></i>
                          <div>
                            <a href="tel:+21612345678" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">
                              +216 12 345 678
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="py-[30px] px-0 border-t border-gray-800 dark:border-gray-700">
    <div class="container relative text-center">
      <div class="grid md:grid-cols-2 items-center gap-6">

        <div class="md:text-start text-center">
          <p class="mb-0 text-gray-300">
            © {{date}} Plateforme Immobilière. Tous droits réservés.
          </p>
        </div>

        <ul class="list-none md:text-end text-center">
          <li class="inline mx-0.5">
            <a href="#" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 hover:bg-green-600">
              <i data-feather="facebook" class="size-4"></i>
            </a>
          </li>
          <li class="inline mx-0.5">
            <a href="#" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 hover:bg-green-600">
              <i data-feather="instagram" class="size-4"></i>
            </a>
          </li>
          <li class="inline mx-0.5">
            <a href="#" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 hover:bg-green-600">
              <i data-feather="linkedin" class="size-4"></i>
            </a>
          </li>
          <li class="inline mx-0.5">
            <a href="mailto:contactimmobilier.com" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 hover:bg-green-600">
              <i data-feather="mail" class="size-4"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>












