<div class="container relative lg:mt-24 mt-16">
  <div class="grid grid-cols-1 text-center">
    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-medium text-black dark:text-white">
      Besoin d’aide ? Nous sommes à votre écoute
    </h3>

    <p class="text-slate-400 max-w-xl mx-auto">
      Contactez-nous pour obtenir plus d’informations sur la plateforme et découvrir comment faciliter votre recherche immobilière.
    </p>

    <div class="mt-6">
      <a [routerLink]="'/contact'" class="btn bg-green-600 hover:bg-green-700 text-white rounded-md">
        <i class="uil uil-phone align-middle me-2"></i> Nous contacter
      </a>
    </div>
  </div>
</div>
