<app-navbar [childMessage]="'true'" [navLight]="true"/>

<section class="relative table w-full py-32 lg:py-36 bg-[url('/assets/images/bg/01.jpg')] bg-no-repeat bg-center bg-cover">
    <div class="absolute inset-0 bg-slate-900/80"></div>
    <div class="container relative">
        <div class="grid grid-cols-1 text-center mt-10">
            <h3 class="md:text-4xl text-3xl md:leading-normal leading-normal font-medium text-white">Find Your Dream Home</h3>
        </div>
    </div>
</section>

<div class="relative">
    <div class="shape overflow-hidden z-1 text-white dark:text-slate-900">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<div class="container relative -mt-[25px]">
    <div class="grid grid-cols-1">
        <div class="subcribe-form z-1">
            <form class="relative max-w-2xl mx-auto">
                <i data-feather="search" class="size-5 absolute top-[47%] -translate-y-1/2 start-4"></i>
                <input type="name" id="search_name" name="name" class="rounded-md bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-700 !ps-12" placeholder="City, Address, Zip :">
                <button type="submit" class="btn bg-green-600 hover:bg-green-700 text-white rounded-md">Search</button>
            </form>
        </div>
    </div>
</div>

<section class="relative lg:pb-24 pb-16">

    <app-properties [moreOption] = "true"/>

    <div class="container relative lg:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Buyer Benefits</h3>

            <p class="text-slate-400 max-w-xl mx-auto">A great plateform to buy, sell and rent your properties without any agent or commisions.</p>
        </div>

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
            <div *ngFor="let item of benefitsData" class="group relative lg:px-10 transition-all duration-500 ease-in-out rounded-xl bg-transparent overflow-hidden text-center">
                <div class="relative overflow-hidden text-transparent -m-3">
                    <i data-feather="hexagon" class="size-32 fill-green-600/5 mx-auto"></i>
                    <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-green-600 rounded-xl transition-all duration-500 ease-in-out text-4xl flex align-middle justify-center items-center">
                        <i class={{item.icon}}></i>
                    </div>
                </div>

                <div class="mt-6">
                    <h5 class="text-xl font-medium">{{item.title}}</h5>
                    <p class="text-slate-400 mt-3">{{item.desc}}</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="container relative lg:mt-24 mt-16">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
            <div class="lg:col-span-4 md:col-span-5">
                <div class="sticky top-20">
                    <ul class="flex-column text-center p-6 bg-white dark:bg-slate-900 shadow-sm shadow-gyay-200 dark:shadow-gray-700 rounded-md">
                        <li role="presentation">
                            <button class="px-4 py-2 text-base font-medium rounded-md w-full transition-all duration-500 ease-in-out hover:text-green-600 dark:hover:text-white hover:bg-gray-50 dark:hover:bg-slate-800" [ngClass]="activeIndex=== 1 ? 'text-white bg-green-600 hover:text-white hover:bg-green-600' : '' " (click)="TabClick(1)">Pre Approval Letter</button>
                        </li>
                        <li role="presentation">
                            <button class="px-4 py-2 text-base font-medium rounded-md w-full transition-all duration-500 ease-in-out hover:text-green-600 dark:hover:text-white hover:bg-gray-50 dark:hover:bg-slate-800 mt-3" [ngClass]="activeIndex=== 2 ? 'text-white bg-green-600 hover:text-white hover:bg-green-600' : '' " (click)="TabClick(2)">Schedule a Showing</button>
                        </li>
                        <li role="presentation">
                            <button class="px-4 py-2 text-base font-medium rounded-md w-full transition-all duration-500 ease-in-out hover:text-green-600 dark:hover:text-white hover:bg-gray-50 dark:hover:bg-slate-800 mt-3" [ngClass]="activeIndex=== 3 ? 'text-white bg-green-600 hover:text-white hover:bg-green-600' : '' " (click)="TabClick(3)">Submit an Offer</button>
                        </li>
                        <li role="presentation">
                            <button class="px-4 py-2 text-base font-medium rounded-md w-full transition-all duration-500 ease-in-out hover:text-green-600 dark:hover:text-white hover:bg-gray-50 dark:hover:bg-slate-800 mt-3" [ngClass]="activeIndex=== 4 ? 'text-white bg-green-600 hover:text-white hover:bg-green-600' : '' " (click)="TabClick(4)">Property Inspection</button>
                        </li>
                        <li role="presentation">
                            <button class="px-4 py-2 text-base font-medium rounded-md w-full transition-all duration-500 ease-in-out hover:text-green-600 dark:hover:text-white hover:bg-gray-50 dark:hover:bg-slate-800 mt-3" [ngClass]="activeIndex=== 5 ? 'text-white bg-green-600 hover:text-white hover:bg-green-600' : '' " (click)="TabClick(5)">Appraisal</button>
                        </li>
                        <li role="presentation">
                            <button class="px-4 py-2 text-base font-medium rounded-md w-full transition-all duration-500 ease-in-out hover:text-green-600 dark:hover:text-white hover:bg-gray-50 dark:hover:bg-slate-800 mt-3" [ngClass]="activeIndex=== 6 ? 'text-white bg-green-600 hover:text-white hover:bg-green-600' : '' " (click)="TabClick(6)">Closing Deal</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="lg:col-span-8 md:col-span-7">
                <div>
                    <div *ngIf="activeIndex === 1">
                        <img [src]="'/assets/images/svg/Agent_Monochromatic.svg'" alt="">
                        <div class="mt-6">
                            <h5 class="font-medium text-xl">Pre Approval Letter</h5>
                            <p class="text-slate-400 mt-3">Most buyers think the first step is finding their dream house, but the truth is finding the funding is the first step. Hously streamlines the Loan Pre-Approval process with our ecosystem of Premier Partners or simply upload your own Pre-Approval letter.</p>
                        </div>
                    </div>
                    <div *ngIf="activeIndex === 2">
                        <img [src]="'/assets/images/svg/presentation_Flatline.svg'" alt="">
                        <div class="mt-6">
                            <h5 class="font-medium text-xl">Schedule a Showing</h5>
                            <p class="text-slate-400 mt-3">Hously allows a buyer to schedule an instant showing and gain a private viewing without the need for multiple parties to be involved. You pick the time that works for you!</p>
                        </div>
                    </div>
                    <div *ngIf="activeIndex === 3">
                        <img [src]="'/assets/images/svg/session_Flatline.svg'" alt="">
                        <div class="mt-6">
                            <h5 class="font-medium text-xl">Submit an Offer</h5>
                            <p class="text-slate-400 mt-3">Hously walks a buyer through the purchase agreement process making the paperwork appear effortless. With our custom workflows and progress analytics, you will always know where your purchase stands. No more phone tag and unreturned emails!</p>
                        </div>
                    </div>
                    <div *ngIf="activeIndex === 4">
                        <img [src]="'/assets/images/svg/Startup_Flatline.svg'" alt="">
                        <div class="mt-6">
                            <h5 class="font-medium text-xl">Property Inspection</h5>
                            <p class="text-slate-400 mt-3">No one wants to buy a lemon. Book an inspection with a licensed inspector, then submit the repair requests all via the Hously platform.</p>
                        </div>
                    </div>
                    <div *ngIf="activeIndex === 5">
                        <img [src]="'/assets/images/svg/team_Flatline.svg'" alt="">
                        <div class="mt-6">
                            <h5 class="font-medium text-xl">Appraisal</h5>
                            <p class="text-slate-400 mt-3">Hously monitors the appraisal process ensuring the home you are purchasing meets or exceeds the price you are paying.</p>
                        </div>
                    </div>
                    <div *ngIf="activeIndex === 6">
                        <img [src]="'/assets/images/svg/Team_meeting_Two.svg'" alt="">
                        <div class="mt-6">
                            <h5 class="font-medium text-xl">Closing Deal</h5>
                            <p class="text-slate-400 mt-3">Finally the closing packet is sent to the Title office, and the day has come… You have Hously the home of your dreams!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <app-get-in-touch/>

</section>
<app-footer/>