<div class="page-wrapper" [ngClass]="{ 'toggled': activeSidebar }">
  <app-sidebar/>

  <main class="page-content bg-gray-50 dark:bg-slate-800">
    <app-topbar (toggleClass)="toggleClass()"/>

    <div class="container-fluid relative px-3">
      <div class="layout-specing">
        <div class="flex justify-between items-center">
          <div>
            <h5 class="text-xl font-semibold">Bonjour, {{user.nom}}</h5>
            <h6 class="text-slate-400 ">bienvenue à nouveau !</h6>
          </div>
        </div>

        <app-about-pro></app-about-pro>


      </div>
    </div>

    <app-footer-admin/>
  </main>
</div>
