<nav id="sidebar" class="sidebar-wrapper sidebar-dark">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a [routerLink]="'/'"><img [src]="'/assets/images/logo-light.png'" alt=""></a>
    </div>

    <ul class="sidebar-menu border-t border-white/10" data-simplebar style="height: calc(100% - 70px);">

      <!-- Dashboard -->
      <li [ngClass]="activeManu === '/' ? 'active ms-0' : ''">
        <a [routerLink]="'/dhashboard'"><i class="mdi mdi-chart-bell-curve-cumulative me-2"></i>Tableau de bord</a>
      </li>

      <!-- Mes Biens -->
      <li [ngClass]="activeManu === '/biens' ? 'active ms-0' : ''">
        <a [routerLink]="'/biens'"><i class="mdi mdi-home-city me-2"></i>Les biens</a>
      </li>
      <li [ngClass]="activeManu === '/biens' ? 'active ms-0' : ''">
        <a [routerLink]="'/recommandation'"><i class="mdi mdi-star-outline me-2"></i>Recommandation</a>
      </li>

      <!-- Ajouter un bien -->
<!--      <li [ngClass]="activeManu === '/add-property' ? 'active ms-0' : ''">-->
<!--        <a [routerLink]="'/add-property'"><i class="mdi mdi-home-plus me-2"></i>AjouterRRRRRRRR un bien</a>-->
<!--      </li>-->

      <!-- Mes locations -->
<!--      <li [ngClass]="activeManu === '/mes-locations' ? 'active ms-0' : ''">-->
<!--        <a [routerLink]="'/mes-locations'"><i class="mdi mdi-handshake me-2"></i>Mes locations</a>-->
<!--      </li>-->

      <!-- Messages -->
      <li [ngClass]="activeManu === '/chat' ? 'active ms-0' : ''">
        <a [routerLink]="'/chat'"><i class="mdi mdi-chat-outline me-2"></i>Messages</a>
      </li>

      <!-- Favoris -->
      <li [ngClass]="activeManu === '/favoris' ? 'active ms-0' : ''">
        <a [routerLink]="'/proprietaire-favoris'"><i class="mdi mdi-home-heart me-2"></i>Propriétés favorites</a>
      </li>

      <!-- Profil -->
      <li class="sidebar-dropdown" [ngClass]="['/profile-item','/profile','/profile-setting' ].includes(activeManu) ? 'active ms-0' : '' ">
        <a [routerLink]="[]" (click)="subManu('/profile-item')"><i class="mdi mdi-account-edit me-2"></i>Mon profil</a>
        <div class="sidebar-submenu" [ngClass]="['/profile-item','/profile','/profile-setting'].includes(manuOpen) ? 'block ms-0' : '' ">
          <ul>
            <li [ngClass]="activeManu === '/profile' ? 'active ms-0' : ''"><a [routerLink]="'/profile'">Informations personnelles</a></li>
            <li [ngClass]="activeManu === '/profile-setting' ? 'active ms-0' : ''"><a [routerLink]="'/profile-setting'">Paramètres du profil</a></li>
          </ul>
        </div>
      </li>

      <!-- Contrats -->
      <!-- Ajouter un contrat -->
      <li class="sidebar-dropdown"
          [ngClass]="['/contrats-item', '/mes-contrats', '/contrats-signes'].includes(activeManu) ? 'active ms-0' : ''">

        <a [routerLink]="[]" (click)="subManu('/contrats-item')">
          <i class="mdi mdi-file-document-outline me-2"></i>
          Mes contrats
        </a>

        <div class="sidebar-submenu"
             [ngClass]="['/contrats-item', '/mes-contrats', '/contrats-signes'].includes(manuOpen) ? 'block ms-0' : ''">

          <ul>
            <li [ngClass]="activeManu === '/mes-contrats' ? 'active ms-0' : ''">
              <a [routerLink]="'/mes-contrats'">
                À signer
              </a>
            </li>

            <li [ngClass]="activeManu === '/contrats-signes' ? 'active ms-0' : ''">
              <a [routerLink]="'/mes-contrat'">
                Contrats signés
              </a>
            </li>
          </ul>

        </div>
      </li>


      <!-- Paiements -->
<!--      <li class="sidebar-dropdown" [ngClass]="['/paiements-item','/mes-paiements','/historique-paiements' ].includes(activeManu) ? 'active ms-0' : '' ">-->
<!--        <a [routerLink]="[]" (click)="subManu('/paiements-item')"><i class="mdi mdi-credit-card-outline me-2"></i>Paiements</a>-->
<!--        <div class="sidebar-submenu" [ngClass]="['/paiements-item','/mes-paiements','/historique-paiements'].includes(manuOpen) ? 'block ms-0' : '' ">-->
<!--          <ul>-->
<!--            <li [ngClass]="activeManu === '/mes-paiements' ? 'active ms-0' : ''"><a [routerLink]="'/mes-paiements'">Loyers perçus</a></li>-->
<!--            <li [ngClass]="activeManu === '/historique-paiements' ? 'active ms-0' : ''"><a [routerLink]="'/historique-paiements'">Historique</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->

      <!-- Statistiques -->
<!--      <li [ngClass]="activeManu === '/statistiques' ? 'active ms-0' : ''">-->
<!--        <a [routerLink]="'/statistiques'"><i class="mdi mdi-chart-line me-2"></i>Statistiques</a>-->
<!--      </li>-->

      <!-- Aide / Support -->
<!--      <li class="sidebar-dropdown" [ngClass]="['/support-item','/faq','/contact-support' ].includes(activeManu) ? 'active ms-0' : '' ">-->
<!--        <a [routerLink]="[]" (click)="subManu('/support-item')"><i class="mdi mdi-help-circle-outline me-2"></i>Aide & Support</a>-->
<!--        <div class="sidebar-submenu" [ngClass]="['/support-item','/faq','/contact-support'].includes(manuOpen) ? 'block ms-0' : '' ">-->
<!--          <ul>-->
<!--            <li [ngClass]="activeManu === '/faq' ? 'active ms-0' : ''"><a [routerLink]="'/faq'">FAQ</a></li>-->
<!--            <li [ngClass]="activeManu === '/contact-support' ? 'active ms-0' : ''"><a [routerLink]="'/contact-support'">Contacter le support</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
  </div>
</nav>
