
<nav id="sidebar" class="sidebar-wrapper sidebar-dark">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a [routerLink]="'/'"><img [src]="'/assets/images/logo-light.png'" alt=""></a>
    </div>

    <ul class="sidebar-menu border-t border-white/10" data-simplebar style="height: calc(100% - 70px);">

      <!-- Dashboard -->
      <li [ngClass]="activeManu === '/' ? 'active ms-0' : ''">
        <a [routerLink]="'/dhashboard-pro'"><i class="mdi mdi-chart-bell-curve-cumulative me-2"></i>Tableau de bord</a>
      </li>

      <!-- Mes Biens -->
      <li [ngClass]="activeManu === '/mes-biens' ? 'active ms-0' : ''">
        <a [routerLink]="'/all-property'"><i class="mdi mdi-home-city me-2"></i>Mes biens</a>
      </li>

      <!-- Ajouter un bien -->
      <li [ngClass]="activeManu === '/add-property' ? 'active ms-0' : ''">
        <a [routerLink]="'/add-property'"><i class="mdi mdi-home-plus me-2"></i>Ajouter un bien</a>
      </li>


      <!-- Messages -->
      <li [ngClass]="activeManu === '/messages' ? 'active ms-0' : ''">
        <a [routerLink]="'/chat'"><i class="mdi mdi-chat-outline me-2"></i>Messages</a>
      </li>



      <!-- Profil -->
      <li class="sidebar-dropdown" [ngClass]="['/profile-item','/profile','/profile-setting' ].includes(activeManu) ? 'active ms-0' : '' ">
        <a [routerLink]="[]" (click)="subManu('/profile-item')"><i class="mdi mdi-account-edit me-2"></i>Mon profil</a>
        <div class="sidebar-submenu" [ngClass]="['/profile-item','/profile','/profile-setting'].includes(manuOpen) ? 'block ms-0' : '' ">
          <ul>
            <li [ngClass]="activeManu === '/profile' ? 'active ms-0' : ''"><a [routerLink]="'/profile'">Informations personnelles</a></li>
            <li [ngClass]="activeManu === '/profile-setting' ? 'active ms-0' : ''"><a [routerLink]="'/profile-setting'">Paramètres du profil</a></li>
          </ul>
        </div>
      </li>

      <!-- Contrats -->
      <!-- Ajouter un contrat -->
      <li [ngClass]="activeManu === '/add-contrat' ? 'active ms-0' : ''">
        <a [routerLink]="'/add-contrat'"><i class="mdi mdi-file-document-plus me-2"></i>Ajouter contrat</a>
      </li>
      <li class="sidebar-dropdown" [ngClass]="['/contrats-item','/mes-contrats','/contrats-signes' ].includes(activeManu) ? 'active ms-0' : '' ">
        <a [routerLink]="[]" (click)="subManu('/contrats-item')"><i class="mdi mdi-file-document-outline me-2"></i>Mes contrats</a>
        <div class="sidebar-submenu" [ngClass]="['/contrats-item','/mes-contrats','/contrats-signes'].includes(manuOpen) ? 'block ms-0' : '' ">
          <ul>
            <li [ngClass]="activeManu === '/mes-contrats' ? 'active ms-0' : ''"><a [routerLink]="'/mes-contrats'">Contrats en cours</a></li>
            <li [ngClass]="activeManu === '/all-contracts' ? 'active ms-0' : ''"><a [routerLink]="'/all-contracts'">Contrats signés</a></li>
          </ul>
        </div>
      </li>




    </ul>
  </div>
</nav>
