<app-navbar-full/>
<section class="relative">
    <div class="container-fluid">
        <div class="grid lg:grid-cols-2 md:grid-cols-2">
            <div>
                <div class="relative mt-12 md:p-8 py-8 px-3">
                    <div class="grid grid-cols-1">
                        <form class="p-6 bg-white dark:bg-slate-900 rounded-xl shadow-md shadow-gyay-200 dark:shadow-gray-700">
                            <div class="registration-form text-dark text-start">
                                <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
                                    <div>
                                        <label class="form-label font-medium text-slate-900 dark:text-white">Search : <span class="text-red-600">*</span></label>
                                        <div class="filter-search-form relative filter-border mt-2">
                                            <i class="uil uil-search icons"></i>
                                            <input name="name" type="text" id="job-keyword" class="form-input filter-input-box !bg-gray-50 dark:!bg-slate-800 border-0" placeholder="Search your keaywords">
                                        </div>
                                    </div>

                                    <div>
                                        <label for="buy-properties" class="form-label font-medium text-slate-900 dark:text-white">Select Categories:</label>
                                        <div class="filter-search-form relative filter-border mt-2">
                                            <i class="uil uil-estate icons"></i>
                                            <ng-select class="form-input w-full filter-input-box !bg-gray-50 h-[60px] dark:!bg-slate-800 border-0 focus:ring-0 ps-10" [items]="property" bindLabel="name" bindValue="id" placeholder="House">
                                            </ng-select>
                                        </div>
                                    </div>
                                
                                    <div>
                                        <label for="buy-min-price" class="form-label font-medium text-slate-900 dark:text-white">Min Price :</label>
                                        <div class="filter-search-form relative filter-border mt-2">
                                            <i class="uil uil-usd-circle icons"></i>
                                            <ng-select class="form-input w-full filter-input-box !bg-gray-50 h-[60px] dark:!bg-slate-800 border-0 focus:ring-0 ps-10" [items]="minPrice" bindLabel="name" bindValue="id" placeholder="500">
                                            </ng-select>
                                        </div>
                                    </div>
                                
                                    <div>
                                        <label for="buy-max-price" class="form-label font-medium text-slate-900 dark:text-white">Max Price :</label>
                                        <div class="filter-search-form relative mt-2">
                                            <i class="uil uil-usd-circle icons"></i>
                                            <ng-select class="form-input w-full filter-input-box !bg-gray-50 h-[60px] dark:!bg-slate-800 border-0 focus:ring-0 ps-10" [items]="maxPrice" bindLabel="name" bindValue="id" placeholder="6000">
                                            </ng-select>
                                        </div>
                                    </div>

                                    <div class="lg:mt-6">
                                        <input type="submit" id="search-buy" name="search" class="btn bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white searchbtn submit-btn w-full !h-12 rounded" value="Search">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="grid lg:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                        <div *ngFor="let item of propertylist" class="group rounded-xl bg-white dark:bg-slate-900 shadow-sm hover:shadow-xl dark:hover:shadow-xl shadow-gyay-200 dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                            <div class="relative">
                                <img [src]="item.image" alt="">
    
                                <div class="absolute top-4 end-4">
                                    <a [routerLink]="[]" class="btn btn-icon bg-white dark:bg-slate-900 shadow-sm shadow-gyay-200 dark:shadow-gray-700 !rounded-full text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600"><i class="mdi mdi-heart text-[20px]"></i></a>
                                </div>
                            </div>
    
                            <div class="p-6">
                                <div class="pb-6">
                                    <a [routerLink]="'/property-detail'" class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">{{item.name}}</a>
                                </div>
    
                                <ul class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                                    <li class="flex items-center me-4">
                                        <i class="uil uil-compress-arrows text-2xl me-2 text-green-600"></i>
                                        <span>{{item.sqf}}</span>
                                    </li>
    
                                    <li class="flex items-center me-4">
                                        <i class="uil uil-bed-double text-2xl me-2 text-green-600"></i>
                                        <span>{{item.beds}}</span>
                                    </li>
    
                                    <li class="flex items-center">
                                        <i class="uil uil-bath text-2xl me-2 text-green-600"></i>
                                        <span>{{item.baths}}</span>
                                    </li>
                                </ul>
    
                                <ul class="pt-6 flex justify-between items-center list-none">
                                    <li>
                                        <span class="text-slate-400">Price</span>
                                        <p class="text-lg font-medium">{{item.price}}</p>
                                    </li>
    
                                    <li>
                                        <span class="text-slate-400">Rating</span>
                                        <ul class="text-lg font-medium text-amber-400 list-none">
                                            <li class="inline mx-0.5"><i class="mdi mdi-star"></i></li>
                                            <li class="inline mx-0.5"><i class="mdi mdi-star"></i></li>
                                            <li class="inline mx-0.5"><i class="mdi mdi-star"></i></li>
                                            <li class="inline mx-0.5"><i class="mdi mdi-star"></i></li>
                                            <li class="inline mx-0.5"><i class="mdi mdi-star"></i></li>
                                            <li class="inline text-black dark:text-white">5.0(30)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
                        <div class="md:col-span-12 text-center">
                            <nav>
                                <ul class="inline-flex items-center -space-x-px">
                                    <li>
                                        <a [routerLink]="[]" class="size-10 inline-flex justify-center items-center mx-1 !rounded-full text-slate-400 bg-white dark:bg-slate-900 hover:text-white shadow-xs shadow-gyay-200 dark:shadow-gray-700 hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600">
                                            <i class="uil uil-angle-left text-[20px]"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="[]" class="size-10 inline-flex justify-center items-center mx-1 !rounded-full text-slate-400 hover:text-white bg-white dark:bg-slate-900 shadow-xs shadow-gyay-200 dark:shadow-gray-700 hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600">1</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="[]" class="size-10 inline-flex justify-center items-center mx-1 !rounded-full text-slate-400 hover:text-white bg-white dark:bg-slate-900 shadow-xs shadow-gyay-200 dark:shadow-gray-700 hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600">2</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="[]" aria-current="page" class="z-10 size-10 inline-flex justify-center items-center mx-1 !rounded-full text-white bg-green-600 shadow-xs shadow-gyay-200 dark:shadow-gray-700">3</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="[]" class="size-10 inline-flex justify-center items-center mx-1 !rounded-full text-slate-400 hover:text-white bg-white dark:bg-slate-900 shadow-xs shadow-gyay-200 dark:shadow-gray-700 hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600">4</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="[]" class="size-10 inline-flex justify-center items-center mx-1 !rounded-full text-slate-400 bg-white dark:bg-slate-900 hover:text-white shadow-xs shadow-gyay-200 dark:shadow-gray-700 hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600">
                                            <i class="uil uil-angle-right text-[20px]"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <footer class="relative bg-neutral-900">                        
                    <div class="py-[30px] px-0">
                        <div class="container relative text-center px-6">
                            <div class="grid md:grid-cols-2 items-center gap-6">
                                <div class="md:text-start text-center">
                                    <p class="mb-0 text-gray-300">© <script>document.write(new Date().getFullYear())</script> Hously. Design & Develop with <i class="mdi mdi-heart text-red-600"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                                </div>
                
                                <ul class="list-none md:text-end text-center">
                                    <li class="inline mx-0.5"><a href="https://1.envato.market/hously-angular" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="shopping-cart" class="size-4"></i></a></li>
                                    <li class="inline mx-0.5"><a href="https://dribbble.com/shreethemes" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="dribbble" class="size-4"></i></a></li>
                                    <li class="inline mx-0.5"><a href="http://linkedin.com/company/shreethemes" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="linkedin" class="size-4"></i></a></li>
                                    <li class="inline mx-0.5"><a href="https://www.facebook.com/shreethemes" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline mx-0.5"><a href="https://www.instagram.com/shreethemes/" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline mx-0.5"><a href="https://twitter.com/shreethemes" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="twitter" class="size-4"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

            <div class="relative md:block hidden">
                <div class="map border-0 fixed w-full leading-[0]">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin" style="border:0" class="w-full h-screen" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
